*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #8ff7c7;
}

.wrapper{
    width: 100%;
    max-width: 400px;
    background: #fff;
    border-radius: 18px;
    padding: 32px 24px 16px 24px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    margin-bottom: 24px;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 4px 0;
    font-weight: 500;
    font-size: 1rem;
}

input[type="email"], input[type="password"] {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    margin-bottom: 12px;
    font-size: 16px;
    background-color: #f8f8f8;
}

.btn-main {
    width: 100%;
    background: #111;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 12px;
    font-size: 17px;
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 16px;
    cursor: pointer;
    transition: background 0.2s;
}
.btn-main:hover {
    background: #333;
}

.separador {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
    line-height: 0.1em;
    margin: 16px 0 16px;
}

.separador span {
    background: #fff;
    padding: 0 10px;
    color: #888;
    font-size: 14px;
}

.btn-social {
    width: 100%;
    display: flex;
    align-items: center;
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.2s;
    font-weight: 500;
    justify-content: center;
    gap: 10px;
}

.btn-social img {
    width: 22px;
    height: 22px;
    margin-right: 12px;
}

.btn-social:last-child {
    margin-bottom: 0;
}

.terms {
    font-size: 12px;
    color: #888;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 0;
}

.terms a {
    color: #3b82f6;
    text-decoration: none;
}